{% extends "auctions/sellerLayout.html" %}
{% load static %}
{% block title %}
    betBid - {{heading}}
{% endblock %}

{% block body %}
<style>
    .brickphoto{
        background-image: url("https://media.istockphoto.com/photos/black-brick-wall-texture-of-dark-brickwork-closeup-picture-id1129029770?k=20&m=1129029770&s=612x612&w=0&h=mf_yKAV4l4Fjfrhv8DqIWJTufluZ1KfO00UkLgmgH9w=");
        /* color: cornsilk; */

    }
    .bgreg{
        /* color: aqua; */
    }
</style>
<h1 class="heading brickphoto" style="color: cornsilk;">{{heading}}</h1>
<main class="index">
    <div class="listings">
        {% for item in items %}
            <div class="item" style="{% if item.active %}background-image: linear-gradient( 109.5deg,  #00ceee 11.2%, #3055fc 91.1% );{% else %}background-image: linear-gradient(to right, #ff416c, #ff4b2b);{% endif %}">
                <a href="{% url 'sellerItem' item_id=item.id %}">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{item.title}}">
                    {% else %}
                    <img src="{% static 'auctions/images/noimage.png' %}" alt="Image not available">
                    {% endif %}
                </a>
                <div class="details">
                    <a href="{% url 'sellerItem' item_id=item.id %}">
                        <h2>{{ item.title }}</h2>
                        <p>{{ item.description }}</p>
                        <h3>{% if item.active %}Current Price{% else %}Sold at{% endif %}: ₹ {{item.current_price}}</h3>
                    </a>
                </div>
            </div>
        {% empty %}
            <p>NO Item Found!<br>😔</p>
        {% endfor %}
    </div>
</main>
{% endblock %}