{% extends "listings/layout.html" %}

{% block title %}
    betBid - New Listing
{% endblock %}

{% block body %}
<style>
    .brickphoto{
        background-image: url("https://media.istockphoto.com/photos/black-brick-wall-texture-of-dark-brickwork-closeup-picture-id1129029770?k=20&m=1129029770&s=612x612&w=0&h=mf_yKAV4l4Fjfrhv8DqIWJTufluZ1KfO00UkLgmgH9w=");
        /* color: cornsilk; */

    }
    .bgreg{
        /* color: aqua; */
    }
</style>
<h1 class="heading brickphoto" style="color: cornsilk;">Add items</h1>
<main class="new">
    <form action="{% url 'new' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>                
            <label for="id_title">*Title:</label>
            <input type="text" name="title" maxlength="50" required id="id_title">       
        </div>
        <div>
            <label for="id_description">*Description:</label>
            <textarea name="description" cols="40" rows="10" maxlength="1000" required id="id_description"></textarea>
        </div>
        <div style="border: none; border-bottom:none;">
            <label for="id_reserve_price" style="display: none;
            visibility: hidden;">*Reserve Price:</label>
            <section class="inr">
                <input type="number" name="reserve_price" min="0" id="id_reserve_price" style="display: none;
                visibility: hidden;" value=0>
                <i class="fa fa-inr" style="display: none;
                visibility: hidden;"></i>
            </section>
        </div>
        <div>
            <!-- <label for="id_image">Some image to understand your requirements better [Optional]:</label>
            <input type="file" name="image" accept="image/*" id="id_image"> -->
            <label for="id_contact">*Contact number:</label>
            <input type="text" name="contact" maxlength="15" required id="id_contact"> 
        </div>
        <div>
            <label for="id_category">Purpose:</label>
            <select name="category" id="id_category">
                <option value="House">House</option>

                <option value="Building">Building</option>
              
              
                <option value="NONE" selected>Other</option>
            </select>
        </div>
        <button type="submit">POST</button>
    </form>
</main>
{% endblock %}